<a href="https://colab.research.google.com/github/VigneshJ19/ML-LAB/blob/main/ML%20-%20LAB%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **LAB Assignment - II**

**NAME** : Vignesh J
                                          ; **ROLL.NO** : 20MAI0012

**TASK - I Dataset: crx.data**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/crx.data', header = None)

In [ ]:
#In the dataset crx.data, name the columns as col1, col2..col16
var=['col'+str(s) for s in range(1,17)]
data.columns=var
data.head(14)

   col1   col2    col3 col4 col5 col6  ... col11  col12 col13  col14  col15 col16
0     b  30.83   0.000    u    g    w  ...     1      f     g  00202      0     +
1     a  58.67   4.460    u    g    q  ...     6      f     g  00043    560     +
2     a  24.50   0.500    u    g    q  ...     0      f     g  00280    824     +
3     b  27.83   1.540    u    g    w  ...     5      t     g  00100      3     +
4     b  20.17   5.625    u    g    w  ...     0      f     s  00120      0     +
5     b  32.08   4.000    u    g    m  ...     0      t     g  00360      0     +
6     b  33.17   1.040    u    g    r  ...     0      t     g  00164  31285     +
7     a  22.92  11.585    u    g   cc  ...     0      f     g  00080   1349     +
8     b  54.42   0.500    y    p    k  ...     0      f     g  00180    314     +
9     b  42.50   4.915    y    p    w  ...     0      t     g  00052   1442     +
10    b  22.08   0.830    u    g    c  ...     0      t     g  00128      0     +
11    b  29.92   1.835    u    g    c  ...     0      f     g  00260    200     +
12    a  38.25   6.000    u    g    k  ...     0      t     g  00000      0     +
13    b  48.08   6.040    u    g    k  ...     0      f     g  00000   2690     +

[14 rows x 16 columns]

In [ ]:
#Print the last 10 rows of data
data.tail(10)

    col1   col2    col3 col4 col5 col6  ... col11  col12 col13  col14  col15 col16
680    b  19.50   0.290    u    g    k  ...     0      f     g  00280    364     -
681    b  27.83   1.000    y    p    d  ...     0      f     g  00176    537     -
682    b  17.08   3.290    u    g    i  ...     0      t     g  00140      2     -
683    b  36.42   0.750    y    p    d  ...     0      f     g  00240      3     -
684    b  40.58   3.290    u    g    m  ...     0      t     s  00400      0     -
685    b  21.08  10.085    y    p    e  ...     0      f     g  00260      0     -
686    a  22.67   0.750    u    g    c  ...     2      t     g  00200    394     -
687    a  25.25  13.500    y    p   ff  ...     1      t     g  00200      1     -
688    b  17.92   0.205    u    g   aa  ...     0      f     g  00280    750     -
689    b  35.00   3.375    u    g    c  ...     0      t     g  00000      0     -

[10 rows x 16 columns]

In [ ]:
#Replace the ‘?’with Not-a-Number
data = data.replace('?',np.nan)

In [ ]:
#Commenton the datatypeof variables
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    678 non-null    object
 1   col2    678 non-null    object
 2   col3    690 non-null    float64
 3   col4    684 non-null    object
 4   col5    684 non-null    object
 5   col6    681 non-null    object
 6   col7    681 non-null    object
 7   col8    690 non-null    float64
 8   col9    690 non-null    object
 9   col10   690 non-null    object
 10  col11   690 non-null    int64
 11  col12   690 non-null    object
 12  col13   690 non-null    object
 13  col14   677 non-null    object
 14  col15   690 non-null    int64
 15  col16   690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [ ]:
#The col16 has + and -, replace them ‘P’and ‘N’respectively
data['col16'] = data['col16'].map({'+': 'P', '-': 'N'})

In [ ]:
data['col16'].head(5)

0    P
1    P
2    P
3    P
4    P
Name: col16, dtype: object

In [ ]:
data['col16'].tail(5)

685    N
686    N
687    N
688    N
689    N
Name: col16, dtype: object

In [ ]:
#Find and display the number of  variables of type ‘Object’
columns = [ c for c in data.columns if data[c].dtypes == 'O']

In [ ]:
data[columns].head(5)

  col1   col2 col4 col5 col6 col7 col9 col10 col12 col13  col14 col16
0    b  30.83    u    g    w    v    t     t     f     g  00202     P
1    a  58.67    u    g    q    h    t     t     f     g  00043     P
2    a  24.50    u    g    q    h    t     f     f     g  00280     P
3    b  27.83    u    g    w    v    t     t     t     g  00100     P
4    b  20.17    u    g    w    v    t     f     f     s  00120     P

**TASK - II Dataset: loan.csv**

In [ ]:
D = pd.read_csv("/loan.csv")

In [ ]:
D.head(15)

    customer_id  disbursed_amount  ...  date_last_payment number_credit_lines_12
0             0          23201.50  ...         2016-01-14                    NaN
1             1           7425.00  ...         2016-01-25                    NaN
2             2          11150.00  ...         2014-09-26                    NaN
3             3           7600.00  ...         2016-01-26                    NaN
4             4          31960.00  ...         2016-01-11                    NaN
5             5           8288.75  ...         2015-01-10                    NaN
6             6          27900.00  ...         2016-01-02                    NaN
7             7           9100.00  ...         2016-01-10                    NaN
8             8           9996.00  ...         2015-08-01                    NaN
9             9          16380.00  ...         2016-01-08                    NaN
10           10          21840.00  ...         2016-01-08                    NaN
11           11          11400.00  ...         2016-01-20                    NaN
12           12          19008.00  ...         2015-12-18                    NaN
13           13          31850.00  ...         2016-01-26                    NaN
14           14           4560.00  ...         2016-01-03                    NaN

[15 rows x 14 columns]

In [ ]:
#Display the mean of any two variables with continuous values
D['disbursed_amount'].mean()

14132.2755

In [ ]:
D['income'].mean()

71572.28728914999

In [ ]:
#Print the number of discrete variables
d=D[['customer_id','target','number_open_accounts']]
d

      customer_id  target  number_open_accounts
0               0       0                   4.0
1               1       0                  13.0
2               2       0                   8.0
3               3       0                  20.0
4               4       0                  14.0
...           ...     ...                   ...
9995         9995       0                  12.0
9996         9996       0                  17.0
9997         9997       0                   9.0
9998         9998       0                  26.0
9999         9999       0                   5.0

[10000 rows x 3 columns]

In [ ]:
#Display the unique values of two variables with discrete values
D['customer_id'].unique()

array([   0,    1,    2, ..., 9997, 9998, 9999])

In [ ]:
D['target'].unique()

array([0, 1])

In [ ]:
#Display the Month with mostof loansissued date
D['date_issued_month'] = pd.to_datetime(D['date_issued'])

In [ ]:
D['date_issued_month'].dt.month.value_counts(0)

10    1277
7     1066
11    1017
12     882
8      852
4      816
5      749
9      734
6      700
1      700
3      623
2      584
Name: date_issued_month, dtype: int64

In [ ]:
#Display the count of ‘Teacher’who are ‘Owners’
count=0
for c,d in zip(D['employment'],D['householder']):
  if c=='Teacher' and d=='OWNER':
      count=count+1
print(count)

69

In [ ]:
#Display the ‘Employment’of customers who mostly ‘Rent’
for x,y in zip(D['householder'],D['employment']):
  if x=='RENT':
      print(y)

NameError: ignored